<% content_for :sitemap do %>
    <a href="<%= cpanel_teches_path %>"><%= t("cpanel.menu.teches")%></a> &gt; <span class="current"><%= t("common.edit")%></span>
<% end %>
<h1>编辑资料文库</h1>
<%= render 'form' %>