<% content_for :sitemap do %>
    <a href="<%= cpanel_teches_path %>"><%= t("cpanel.menu.teches")%></a> &gt; <span class="current"><%= t("cpanel.common.create")%></span>
<% end %>
<h1>新增 资料文库</h1>
<%= render 'form' %>