.bundle
tmp/*
coverage/
db/*.sqlite3
tmp/
log/*.log
log/*.log*
tmp/**/*
.sass-cache/
public/assets/
public/uploads/**/*
.redcar
.DS_Store
*.swp
*.swo
.rvmrc
tags
chromedriver.log
.gitkeep
# Ignore all logfiles and tempfiles.

.idea
/log/*.log
/tmp
vendor/bundle/
/public/uploads/*
database.online.yml
config/database.yml
config/config.yml
config/config.online.yml
config/initializers/carrierwave.rb
config/initializers/carrierwave.online.rb
manifest.yml
public/UPload/
