<div class="well sidebar-nav">
  <ul class='nav nav-list'>
    <li class='nav-header'>合作方式分类<li>

    <li><a href="/categories/96">元器件供应</a></li>
    <li><a href="/categories/95">PCBA代工</a></li>
    <li class='nav-header'>TI系列开发板<li>
    <li class='nav-header'>Luminary 系列开发板</li>
   </ul>
</div>