<div>
  <ul class="breadcrumb">
    <li><a href="/">主页</a> <span class="divider">/</span></li>
    <li class="active"><%= @page.name %></li>
  </ul>
</div>


<div id="content">

  <div class="container">

    <div class="row">

      <div class="grid-12">

        <h2><span class="slash">//</span><%= @page.name %></h2>

        <p>
          <%= raw @page.content %>
        </p>

      </div> <!-- /grid-12 -->

    </div> <!-- /row -->

    <hr class="row-divider" />

    <div class="row">

      <div class="grid-6">

        <h2><span class="slash">//</span> Our Philosophy</h2>

        <p>Nullam ligula sapien, pharetra eget volutpat vel, consequat in lectus.</p>

        <p>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse potenti. Vivamus purus arcu, commodo cursus egestas et, dictum lobortis dui. Curabitur at mi eu mi sollicitudin faucibus at at libero.</p>

      </div> <!-- /grid-6 -->


      <div class="grid-6">

        <h2><span class="slash">//</span> Our Mission</h2>

        <p>Mauris viverra, tortor eget interdum lacinia, lacus mi tempor purus, eu commodo enim dui ac nisl. Morbi euismod ante quis tellus imperdiet porta. Morbi nisi nibh, facilisis a varius id, adipiscing vel purus.</p>

        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>

      </div> <!-- /grid-6 -->

    </div> <!-- /row -->

  </div> <!-- /container -->

</div> <!-- /content -->