<% content_for :sitemap do %>
    <a href="<%= cpanel_guides_path %>"><%= t("cpanel.menu.guides")%></a> &gt; <span class="current"><%= t("common.edit")%></span>
<% end %>
<h1>编辑选购指南</h1>
<%= render 'form' %>