<% content_for :sitemap do %>
    <a href="<%= cpanel_guides_path %>"><%= t("cpanel.menu.guides")%></a> &gt; <span class="current"><%= t("cpanel.common.create")%></span>
<% end %>
<h1>新增新闻</h1>
<%= render 'form' %>