.product-detail {
	text-align: center;
	height: 450px;
	margin-bottom: 20px;
}

.product-more {
	float: right;
}
.product-detail img {
	display: inline-block;
	width: 240px;
	height: 240px;
	margin: 0 auto 1.25em;
}

.product-detail h4 {
	margin-bottom: .85em;
	
	font-size: 18px;
}

.product-text {
	text-align: left;
}

.product-detail .product-detail-title {
	margin-bottom: 1em;
	
	color: #777;
	
	font-size: 16px;
	font-style: italic;
}

.product-right {
	float: left;
	padding-left: 20px;
	width: 90%;
}
.product-title h1 {
    font-size: 22px;

}
.product-content {
	float: left;
	padding-left: 20px;
}
.grid-12 .social-share-button {
    margin-top: 20px;
    float: right;
    padding-right: 10px;
}
.product-right .social-share-button {
    margin-top: 10px;
    float: left;
}
.product-right p {
    margin-bottom: 1.5em;
}
.product-detail .thumbnail {
    padding: 20px 4px 4px 4px;
}