  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <% @categories.each do |category| %>
          <% if category.pid == 0 %>
              <li class="nav-header"><%= category.name %></li>
          <% else %>
              <li><%= link_to category.name, categories_details_path(category.slug.downcase), target: "_blank" %></li>
          <% end %>
      <% end %>
    </ul>
  </div>
  <!--/.well -->
