<div>
  <ul class="breadcrumb">
    <li><a href="/">主页</a> <span class="divider">/</span></li>
    <li><a href="<%= categories_lists_path %>">产品中心</a> <span class="divider">/</span></li>
    <li class="active">所有分类</li>
  </ul>
</div>

<div id="content">
  <div class="container">
    <div class="row">
      <div class="sidebar">
        <%= render 'categories/left' %>
      </div>
      <div class="grid-14">
          right
      </div>

    </div>

  </div>
</div>
