<div id="content">
	<div class="container">
		<div class="row work-container">
        	<div class="grid-3">
                    <div class="work-item">
                        
                        <h3><%= @product.name %></h3>
                        
                        <a class="thumbnail">
                            <%= image_tag @product.pictures %>
                        </a> <!-- /img -->
                        
                        <p><%= @product.content %></p>
                        
                        <p><a href="javascript:;" class="">More »</a></p>           
                    </div>
            </div>
    	</div>
	</div>
</div>