<% content_for :sitemap do %>
  <a href="<%= cpanel_products_path %>"><%= t("cpane.menu.products")%></a> &gt; <span class="current"><%= t("common.edit")%></span>
<% end %>
<h1>编辑产品</h1>
<%= render 'form' %>