<% content_for :sitemap do %>
    <a href="<%= cpanel_pages_path %>"><%= t("cpanel.menu.pages")%></a> &gt; <span class="current"><%= t("cpanel.common.create")%></span>
<% end %>
<h1>新增页面</h1>
<%= render 'form' %>